* {
  /* font-size: 20px; */
}
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    cursor: auto;
}
#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}
#load {
    width: 100%;
    height: 100%;
    background-color: darkcyan;
    opacity: 50%;
    position: absolute;
    z-index: 4;
    font-size: 1000%;
    visibility: visible;
}
#load_w {
    position: relative;
    top: 40%;
    /* left: 42%; */
    text-align: center;
}
#homeBackground {
    position: absolute;
    z-index: 0;
    background-image: url(../cutImage/bottom/bottom-01@2x.png);
    width: 100%;
    height: 100%;
}
#bottom02 {
    background-image: url(../cutImage/bottom/bottom-02@2x.png);
    width: 750px;
    height: 900px;
}
#bottom03 {
    position: absolute;
    background-image: url(../cutImage/bottom/bottom-03@2x.png);
    width: 310px;
    height: 558px;
    right: 0%;
    top: 46%;
}
#homePage {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none;
}
#icon_bottom {
    position: absolute;
    z-index: 2;
    width: 270px;
    height: 180px;
    min-width: 203px;
    top: 0%;
    left: 0%;
    background-image: url(../cutImage/bottom/bottom-04-1@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#SY_icon {
    position: absolute;
    z-index: 3;
    top: 30px;
    margin-left: 30px;
    width: 11%;
    min-width: 150px;
    /* margin-left: 7%; */
}
#home_menu {
    position: absolute;
    z-index: 3;
    width: 295px;
    height: 400px;
    min-height: 389px;
    display: block;
    top: 27.778%;
    left: 1%;
    pointer-events: initial;
}
#home_menu:hover {
    cursor: pointer;
}
.homeBtnImg {
    width: 125%;
    height: 100%;
}
#button1-1 {
    position: absolute;
    left: 14%;
    width: 91%;
    height: 56%;
    background-image: url(../cutImage/button/button1-1-normal.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
#button1-2 {
    position: absolute;
    top: 38%;
    width: 58%;
    height: 36%; 
    background-image: url(../cutImage/button/button1-2-normal.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
#button1-6 {
    position: absolute;
    top: 73%;
    right: 17%;
    height: 37%;
    width: 59%;
    background-image: url(../cutImage/button/button1-6-normal.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.modelBtn {
    width: 112%;
}
#button2-1 {
    position: absolute;
    z-index: 3;
    right: -45%;
    top: 26%;
    width: 120px;
    height: 200px;
    background-image: url(../cutImage/button/button2-1-normal.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}
#button2-2 {
    position: absolute;
    z-index: 3;
    top: 74%;
    right: -13%;
    width: 120px;
    height: 200px;
    background-image: url(../cutImage/button/button2-2-normal.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}
#middle_bottom {
    position: absolute;
    top: 93%;
    left: 42%;
    width: 17%;
    min-width: 293px;
    pointer-events: initial;
    /* border: lightcoral solid 8px; */
}
#bottom_paint {
    width: 100%;
}
#bottom-05 {
    width: 100%;
}
#button3-2 {
    width: 100%;
}
#icon {
    position: absolute;
    top: 12%;
    left: 29%;
    display: flex;
    flex-direction: row;
    width: 43%;
    height: 48px;
    /* border: lightseagreen solid 3px; */
}
#icon_360 {
    position: absolute;
    top: 12%;
    left: 10%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    display: none;
}
#zoom2 {
    background-color: white;
    height: 42px;
    width: 42px;
    -webkit-mask: url("../cutImage/button/button4-1-icon-zoom-in.png") no-repeat center center;
    mask: url("../cutImage/button/button4-1-icon-zoom-in.png") no-repeat center center;
    pointer-events: initial;
    cursor: pointer;
}
#ques2 {
    background-color: white;
    height: 42px;
    width: 42px;
    -webkit-mask: url("../cutImage/button/button4-1-icon-ques.png") no-repeat center center;
    mask: url("../cutImage/button/button4-1-icon-ques.png") no-repeat center center;
    pointer-events: initial;
    cursor: pointer;                                                                                                                                
}
#loc_back {
    margin-right: 20px;
    background-color: #88AB85;
    height: 40px;
    width: 40px;
    -webkit-mask: url("../cutImage/button/button4-1-bottom-gps.png") no-repeat center center;
    mask: url("../cutImage/button/button4-1-bottom-gps.png") no-repeat center center;
}
#location {
    background-color: white;
    height: 42px;
    width: 42px;
    -webkit-mask: url("../cutImage/button/button4-1-icon-gps.png") no-repeat center center;
    mask: url("../cutImage/button/button4-1-icon-gps.png") no-repeat center center;
    pointer-events: initial;
    cursor: pointer;
}
#vr_back {
    margin-right: 20px;
    background-color: #959c92;
    height: 40px;
    width: 40px;
    -webkit-mask: url("../cutImage/button/button4-1-bottom-vr.png") no-repeat center center;
    mask: url("../cutImage/button/button4-1-bottom-vr.png") no-repeat center center;
}
#vr {
    background-color: white;
    height: 42px;
    width: 42px;
    -webkit-mask: url("../cutImage/button/button4-1-icon-vr.png") no-repeat center center;
    mask: url("../cutImage/button/button4-1-icon-vr.png") no-repeat center center;
    pointer-events: initial;
}
#zoom_square {
    margin-right: 20px;
    background-color: #88AB85;
    height: 40px;
    width: 40px;
    -webkit-mask: url("../cutImage/button/button4-1-bottom-square.png") no-repeat center center;
    mask: url("../cutImage/button/button4-1-bottom-square.png") no-repeat center center;
}
#zoom {
    background-color: white;
    height: 42px;
    width: 42px;
    -webkit-mask: url("../cutImage/button/button4-1-icon-zoom-in.png") no-repeat center center;
    mask: url("../cutImage/button/button4-1-icon-zoom-in.png") no-repeat center center;
    pointer-events: initial;
    cursor: pointer;
}
#ques_circle {
    margin-right: 20px;
    background-color: #88AB85;
    height: 40px;
    width: 40px;
    -webkit-mask: url("../cutImage/button/button4-1-bottom-circle.png") no-repeat center center;
    mask: url("../cutImage/button/button4-1-bottom-circle.png") no-repeat center center;
}
#ques {
    background-color: white;
    height: 42px;
    width: 42px;
    -webkit-mask: url("../cutImage/button/button4-1-icon-ques.png") no-repeat center center;
    mask: url("../cutImage/button/button4-1-icon-ques.png") no-repeat center center;
    pointer-events: initial;
    cursor: pointer;
}
#up {
    position: absolute;
    right: 4%;
    top: 3%;
    z-index: 3;
    width: 17%;
}
.btn {
    font-size: 50px;
    text-align: center;
    width: 50%;
    height: 0;
    float: left;
    padding-top: 5%;
    padding-bottom: 14%;
}
.btn:hover {
    /* background-color: darksalmon;
    border-color: darksalmon;
    opacity: 90%; */
    cursor: -webkit-grab;
}
#btn1 {
    background-color: darksalmon;
    /* padding: 3rem; */
    /* padding-top: 2rem;
    padding-bottom: 2rem; */

}
#btn2 {
    /* padding: 3rem; */
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    /* width: 50%;
    height: 0;
    float: left; */
}
#tags {
    position: absolute;
    z-index: 6;
    font-size: 60px;
    cursor: pointer;
}
.tag {
    position: absolute;
    visibility: hidden;
    padding: 12px;
}
#SY_icon_360 {
    position: absolute;
    z-index: 3;
    top: -9%;
    margin-left: 30px;
    width: 42%;
    min-width: 150px;
    /* margin-left: 7%; */
    visibility: hidden;
}
#menu_back {
    background-image: url(../cutImage/bottom/bottom-04-2@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    top: -13%;
    width: 260px;
    height: 760px;
    visibility: hidden;
}
#template_360 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
}
#mapPage {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(108, 102, 102, 0.752);
    visibility: hidden;
}
#bigMap {
    background-image: url( ../cutImage/window/window-map@2x.png );
    background-size: contain;
    background-repeat: no-repeat;
    width: 52%;
    height: 58%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#x_circle {
    -webkit-mask: url( ../cutImage/button/button4-2-bottom.png ) no-repeat center center;
    mask: url( ../cutImage/button/button4-2-bottom.png ) no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #eac788;
    position: absolute;
    right: -2%;
    top: -3%;
    width: 40px;
    height: 40px;
}
#x {
    background-color: white;
    -webkit-mask: url( ../cutImage/button/button4-2-del.png ) no-repeat center center;
    mask: url( ../cutImage/button/button4-2-del.png ) no-repeat center center;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#menu {
    position: absolute;
    z-index: 0;
    top: 10%;
    height: 80%;
    width: 26%;
    pointer-events: initial;
    visibility: hidden;
}
#menu_icon {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 30px;
    height: 40px;
    width: 40px;
    z-index: 1;
    visibility: hidden;
    user-select: none;
    background-color: #2A4C24;
    -webkit-mask: url( "../cutImage/button/button4-3-ham.png" ) no-repeat center center;
    mask: url( "../cutImage/button/button4-3-ham.png" ) no-repeat center center;
}
#menu_icon:hover {
    cursor: pointer;
}
#scroll_bar {
    height: 420px;
    margin-top: 4%;
    margin-left: 13px;
    padding-left: 20px;
    /* color: white; */
    color: #58724E;
    visibility: hidden;
    overflow: auto;
    direction:rtl;
    user-select: none;
}
#scroll_bar::-webkit-scrollbar {
    background-color: rgba(220, 220, 220, 0.641);
    width: 10px;
    max-width: 34px;
    min-width: 10px;

}
#scroll_bar::-webkit-scrollbar-thumb {
    background-color: rgba(108, 102, 102, 0.752);
}
#scroll_bar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(77, 70, 70);
}
span.scroll {
    display: block;
    height: 47px;
    font-size: 100%;
    font-weight: 600;
}
.scroll {
    direction:ltr;
}
#backModel {
    position: absolute;
    top: 90%;
    left: 50px;
    width: 96px;
    height: 72px;
    background-image: url( "../cutImage/button/button1-3-normal.svg" );
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: initial;
    cursor: pointer;
}
#home {
    width: 33%;
    float: left;
}
#home_icon {
    width: 100%;
}
#lastPage {
    position: absolute;
    color: white;
    height: 77%;
    cursor: pointer;
}
#back_icon {
    Width: 26%;
    margin-left: 83%; 
    margin-top: 7%;
    cursor: pointer;
}
#down_right_360 {
    /* border: palevioletred solid; */
    display: none;
    /* display: inline; */
    position: absolute;
    z-index: 3;
    top: 63%;
    left: 64%;
    height: 33%;
    width: 33%;
    user-select: none;
}
#map_area {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 84%;
    bottom: 0;
    right: 16%;
    /* border: deepskyblue solid; */
}
#down_right_icon {
    position: absolute;
    width: 15%;
    /* top: 84%;
    left: 84%; */
    bottom: 0;
    right: 5px;
    /* border: wheat solid; */
    user-select: none;
}
.down_right {
    float: left;
}
.down_right_icon {
    float: left;
}
#map {
    width: 100%;
    height: 100%;
}
#loc_icon {
    width: 48%;
    cursor: pointer;
}
#help_icon {
    width: 48%;
    margin-left: 4%;
    cursor: pointer;
}
.points {
    position: absolute;
    height: 5%;
    width: 5%;
    font-weight: bolder;
    top: 2px;
    cursor: pointer;
    /* border:coral solid; */
    /* color: transparent; */
}
#circle {
    position: absolute;
    z-index: 9;
    border-radius: 50%;
    border: gold solid 5px;
    background-color: gold;
    width: 3rem;
    height: 3rem;
}
#undef {
    width: 100%;
    height: 100%;
    background-color: darksalmon;
    opacity: 50%;
    position: absolute;
    z-index: 4;
    font-size: 1000%;
    text-align: center;
    visibility: hidden;
}
#undefined_cap {
    position: relative;
    top: 50%;
}
